<footer class="text-center">
  <a href="twitter.com"><i class="fa fa-twitter fa-2x"></i></a>
  <a href="facebook.com"><i class="fa fa-facebook fa-2x"></i></a>
  <a href="instagram.com"><i class="fa fa-instagram fa-2x"></i></a>
  <a href="youtube.com"><i class="fa fa-youtube fa-2x"></i></a>
  <p>driveforfree.cz</p>
</footer>
