
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    <li>
      <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
    </li>
    <li>
      <%= link_to "Sign in", new_user_session_path %>
    </li>
    <li>
      <a data-toggle="modal" data-target="#myModal">Sign up</a>
      <%= render 'shared/modal_signup' %>
    </li>
    <li>
      <%= link_to motorcycles_path, class: "btn btn-primary", id: "nav-btn" do %>
        List Your Motorcycle
      <% end %>
    </li>
  </ul>
</div><!-- /.navbar-collapse -->
