<div class="search">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-12">
        <div class="row">
          <% Booking.where({user_id: current_user}).each do |booking| %>
            <div class="col-xs-12 col-sm-6">
              <div class="vignette">
                <% unless booking.motorcycle.photos.empty? %>
                  <%= image_tag booking.photos.first.picture.url(:medium), class:'img-responsive' %>
                <% end %>
                </br>
                <%= booking.motorcycle.manufacturer + " " + booking.motorcycle.model + ", " + booking.motorcycle.production_year.to_s %></br>
                <%= "Pickup motorcycle at " + booking.motorcycle.pickup_address + ", " + booking.motorcycle.city + " on " + booking.pickup_date.to_s + " and hand it back on the " + booking.return_date.to_s %></br>
                <%= booking.total_price.to_s + "€" %>
              </div></br>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div id="map" style="width: 100%; height: 1000px;"></div>
      </div>

    </div>
  </div>
</div>