<div class="text-center">

  <h1>Come on and ride!</h1>
  <p>Rent unique motorcycles all across Europe.</p>

  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <form action="<%= motorcycles_path %>" class="form-inline">
          <div class="form-group">
            <label for="location"></label>
            <input type="text" name="location" class="form-control" placeholder="Paris, France">
          </div>
          <div class="form-group">
            <label for="checkin"></label>
            <input type="date" name="checkin"  class="form-control">
          </div>
          <div class="form-group">
            <label for="checkout"></label>
            <input type="date" name="checkout"  class="form-control">
          </div>
          <input type="submit" value="Search" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>