// Bootstrap over-ride with sass variable http://getbootstrap.com/customize/#less-variables
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

$font-family-sans-serif: 'Open Sans', sans-serif;


// SCSS files installed with gems
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "jquery-ui";
@import "bootstrap-datepicker3";

// Your SCSS files
@import "navbar";
@import "footer";

// Your SCSS files
@import "navbar";
@import "home";
@import "footer";
@import "search";
@import "signin";
@import "show";

body {
  margin-top: 60px;
  background: #F0F1F5;
}
