
.wrapper {
  background-image: url('https://s3.amazonaws.com/drive-for-free/production/background.jpg?X-Amz-Date=20141205T144836Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=7699889d6394338e3cb7a711259f3feb1734f732fc47e3a7247f940b302f2ac7&X-Amz-Credential=ASIAIHITJTEI3AWVFLVQ/20141205/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEMD//////////wEagAKtBYxnLvrZDDyLmSfUzhJRAATzE4kCeRITppHSCLjw/3wq2hh4jMmYvQE5x0GfhxKAVpoFOSuIfnVi/kG1JU/CTYSDybYdElp2EDVaGmaqcNDQig6/N7OyHQyMlifNlptGwcSsgUQ/YewlYuEq/38AXXDhmDLikC9mIxb5lMYJeB9/Xwj2p1ppGWbp7miXjhR9dLE9NLzDkhtX6SFqfQDl1bxb5RIxeySsG93g/Zm3SbJqOClY5vfzm4/22UqrLcn7ccObtaPaWA5/EBgy64cdrYSzziBtdt5E8ZfRScMi8QAtEeJXxF4Iu6AsedYvsthKxy0Fzz9BTnnEx87SUTuLII2Kh6QF');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  top: 0px;

  h1, p {
    text-shadow: 1px 1px 2px #4c4c4c;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 4em;
    font-style: bold;
  }

  p {
    font-size: 2em;
    font-style: italic;
  }

  form {
    margin-top: 35px;
  }

  button {
    margin: 2px;
  }

  #nav-btn {
    line-height: 31px;
    margin-bottom: 11px;
    font-size: 1em;
  }
}

.grey {
  background-color: grey;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-daterange {
  input{
    height: 34px;
    font-size: 1em;
    text-align: left;
  }
}