
.wrapper {
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 100px;
  padding-bottom: 150px;
  color: white;
  top: 0px;

  h1, p {
    text-shadow: 1px 1px 2px #4c4c4c;
    margin-bottom: 20px;
  }

  .modal {
    color: black;
  }

  button {
    margin: 2px;
  }
}

.black-overlay {
  background-color: rgba(25,25,25,0.7);
  padding: 10px 20px 20px 20px;
  border-radius: 5px;
  border: 1px solid rgba(25,25,25,1);
}

.grey {
  background-color: grey;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-daterange {
  input{
    height: 32px;
  }
}