.center-form {
  background-color: #F0F1F5;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  padding: 30px;
  padding-top: 10px;
  margin-top: 70px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  .btn {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  h3 {
    margin-top: 5px;
    margin-bottom: 23px;
  }

  .show-div {
    margin-top: 50px;
    background-color: #FBFBFB;
    color: black;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    padding: 15px;
    border-radius: 5px;
  }

  .margin-bottom-10 {
    margin-bottom: 10px;
  }

  .show-photos {
    margin-bottom: 50px;
  }

  .show-description {
    margin-bottom: 50px;
  }

  .border-darkgrey {
    border: 1px solid #2F2F2F;
  }

  .booking-title {
    background-color: #2F2F2F;
    color: white;
    font-style: bold;
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .booking-content {
    background-color: #FBFBFB;
    text-align: center;
  }

  .booking-send {
    background-color: #FBFBFB;
    #nav-btn {
      line-height: 40px;
      font-size: 1em;
      width: 100%;
    }
  }

}
