<div class="row">
  <div class="col-xs-12">
    <form action="<%= motorcycles_search_path %>" class="form-horizontal">
      <div class="form-group">
        <label for="manufacturer" class="col-sm-2 control-label">Manufacturer</label>
        <div class="col-sm-9">
          <input type="text" name="manufacturer" id="manufacturer" class="form-control" placeholder="BMW">
        </div>
      </div>
      <div class="form-group">
        <label for="model" class="col-sm-2 control-label">Model</label>
          <div class="col-sm-9">
            <input type="text" name="model" id="model" class="form-control" placeholder="R1200GS">
          </div>
      </div>
      <div class="form-group">
        <label for="style" class="col-sm-2 control-label">Style</label>
          <div class="col-sm-9">
            <input type="text" name="style" id="style" class="form-control" placeholder="Supermotard">
          </div>
      </div>
      <div class="form-group">
        <label for="engine_size" class="col-sm-2 control-label">Engine size</label>
          <div class="col-sm-9">
            <input type="text" name="engine_size" id="engine_size" class="form-control" placeholder="1200">
          </div>
      </div>
      <input type="submit" value="Filter" class="btn btn-primary col-sm-offset-2">
    </form>
  </div>
</div>


<script>
$(function() {
  var availableTags = <%= raw(Motorcycle::MANUFACTURERS.to_json) %>;
  $( "#manufacturer" ).autocomplete({
    source: availableTags
  });
});
</script>

<script>
$(function() {
  var availableTags = <%= raw(Motorcycle::STYLES.to_json) %>;
  $( "#style" ).autocomplete({
    source: availableTags
  });
});
</script>
