<div class="row">
  <% @motorcycles.each do |motorcycle| %>
    <div class="col-xs-12 col-sm-6">
      <div class="vignette">
        <% unless motorcycle.photos.empty? %>
          <%= image_tag motorcycle.photos.first.picture.url(:medium), class:'img-responsive' %>
        <% end %>
        </br>
        <%= link_to (motorcycle.manufacturer + " - " + motorcycle.model + " from " + motorcycle.production_year.to_s), motorcycle_path(motorcycle) %></br>
        <%= motorcycle.style + " of " + motorcycle.engine_size.to_s  + " cm3 - " + motorcycle.pickup_address %>
      </div>
    </div>
  <% end %>


</div>