<div class="search">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <%= render 'search' %>
        <%= render 'vignettes' %>
      </div>
      <div class="col-xs-4">
        <iframe width="100%" height="600px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=25%20Rue%20du%20Petit%20Musc%2C%20Paris%2C%20France&key=AIzaSyDlv_mtTgo93cPrHAfeO3CK_B4HWTHueEc"></iframe>
      </div>
    </div>
  </div>
</div>

